.home{
    position: relative;
}

.containers{
    background-color: #ffffff;
    padding:20px 2% 20px 17%;
    transition: padding 0.1s ease-in-out;
}

.large-containers{
    padding-left: 7%;
}

@media (max-width:1024px){
    .containers{
        padding:20px 4% 20px 24%;
    }
    .large-containers{
        padding-left: 12%;
    }
}

@media (max-width:768px) {
    .containers{
        padding:20px 2% 20px 28%;
    }
    .large-containers{
        padding-left: 12%;
    }
}

@media (max-width:430px) {
    .containers{
        padding:20px 2% 20px 2%;
    }
}